<%- model_class = Feed -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<h1>Twitter auth:</h1>
<a href="/auth/twitter/?use_authorize=true">LOGIN</a>

<%= link_to 'Update tweets', update_all_tweets_path, :method => :put, :remote => true %>

<h2>Tweets from Angular and Rails</h2>
    <!-- Based on 
      http://stackoverflow.com/questions/14692640/angularjs-directive-to-replace-text and
      http://jsfiddle.net/bmleite/FyGen/
    -->
<%= javascript_tag do %>

  <%#$rootScope.filter('autolinkTweet', function() {%>
    <%#return function(text) {%>
      <%#return twttr.txt.autoLink(text);%>
    <%#}%>
  <%#}%>

  function TweetsCtrl($scope) {
    $scope.tweets = <%= raw @tweets.to_json %>

    $scope.formatText = function(text) {
      //return twttr.txt.autoLinkUrlsCustom(text);
      return twttr.txt.autoLink(text);
    }
  };
<% end %>
<div ng-controller="TweetsCtrl">
  <ul class="media-list">
    <li class="media">
      <div class="pull-left">100</div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="http://www.rubylang.org">The Ruby Programming Language</a>
        </h4>
        <!-- For each mention, show the tweet -->
        <div class="media" ng-repeat="tweet in tweets">
          <div class="pull-left">
            <img class="avatar size32" ng-src="{{tweet.content.user.profile_image_url}}" alt="{{tweet.user.name}}"> 
          </div>
          <div class="media-body">
            <a href="/tweets/{{tweet._id}}">
              <p ng-bind-html-unsafe="formatText(tweet.content.text)"></p>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

